.left {
  background-color: honeydew;
  position: fixed;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
}

.right {
  background-color: grey;
  position: fixed;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
}

.rocket {
  position: absolute;
  left: 50%;
  bottom: 7px;
  background-image: url("state1.gif");
  width: 200px;
  height: 200px;
  transition: 5000ms;
  //background-color: red;
}

body.bodyState2 .rocket {
  background-image: url("state2.gif");
}

body.bodyState3 .rocket {
  background-image: url("state3.gif");
}

body.bodyState5 .rocket {
  bottom: -200px;
  background-image: url("state5.gif");
}

body.bodyState3 .rocket,
body.bodyState4 .rocket {
  background-image: url("state3.gif");
  bottom: 1000px;
}

body.bodyState1 .rocket {
  transition: none;
}

.grass {
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  background-color: green;
  height: 20px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
  display: none;
}

body.bodyState1 .state1 {display: block;}

body.bodyState2 .state2 {display: block;}

body.bodyState3 .state3 {display: block;}

body.bodyState4 .state4 {display: block;}

body.bodyState5 .state5 {display: block;}
